.spotify-container {
    width: 100%;
    height: 100%;
}

.spotify-main-wrapper {
    display: flex;
}

.now-playing__cover {
    max-height: 12vh;
    margin: 10px 5px 10px 30px;
}

.now-playing__side {
    display: flex;
    flex-direction: column;
}

.now-playing__name {
    color: white;
    margin: 20px 0 3px 10px;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
}

.now-playing__name span {
    display: inline-block;
    position: relative;
    animation: leftright 3s infinite alternate ease-in-out;
  }

  @keyframes leftright {
    0%,
    20% {
      transform: translateX(0%);
      left: 0%;
    }
    90%,
    100% {
      transform: translateX(-100%);
      left: 100%;
    }
  }

.now-playing__artist {
    color: rgb(167, 167, 167);
    margin: 3px 0 0 10px;
}

.btn-spotify {
    display: block;
    background-color: transparent;
    color: white;
    font-size: 5vh;
    height: 8vh;
    margin-top: 1vh;
    margin-bottom: auto;
}

.btn-spotify:disabled {
    display: block;
    /* background-color: white; */
    color: rgb(85, 85, 85);
    font-size: 5vh;
    height: 8vh;
    margin-top: 1vh;
    margin-bottom: auto;
    border: 1px solid #000000;
}

.btn-spotify:focus {
    outline: none;
  }

.btn-container {
    display: flex;
}

.right-side-player {
    width: 30vw;
}

.left-side-player {
    display:flex;
    width: 30vw;
}

.spacer {
    flex-grow: 1;
  }

